footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #000000a0; 
    margin-top: 20px;   
    padding: 50px;
    row-gap: 15px;
}

footer a {
    color: white;
}

footer a:hover {
    opacity: .5;
}