header {
    display: flex;
    padding: 20px;
}

header img {
    height: 150px;
}

header h1 {
    height: 150px;
    padding-bottom: 5px;
    
    display: flex;
    align-items: center;
    
    font-size: 34px;
    letter-spacing: 2px;
    font-family: 'Fira Sans', sans-serif;
}